
<div class="text-center">
  <h3>Countries List</h3>
</div>

<button [disabled]="!isAdmin" type="button" class="btn btn-primary" [routerLink]="['/country', 'add']">Add country</button>

<table *ngIf="countries" datatable class="row-border hover">
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td scope="row">{{ country.nome }}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="We apologize! This is already under construction.">Edit</button>
          <button [disabled]="!isAdmin" type="button" class="btn btn-danger" (click)="deleteCountry(country.id)">Remove</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
