

<!-- <div *ngIf="loginFailAlert === true" class="alert alert-danger" role="alert">
  Please check your login/password and try again!
</div> -->

<div class="text-center">
  <form [formGroup]="loginForm" class="form-signin" (submit)="login()">
    <div class="form-group">
      <img class="mb-4" src="assets/world.svg" alt="" width="72" height="72">
      <h1 class="h2 mb-3 font-weight-normal">Sign in form</h1>
      <label for="login" class="sr-only">Email address</label>
      <input formControlName="login" class="form-control" placeholder="Your username" autofocus>
      <label for="password" class="sr-only">Password</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Your password">
      <button
        [disabled]="loginForm.invalid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        >Sign in</button>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>


